body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #5a5959;
    margin: 0;
}
input {
    padding: 0.5rem;
    font-size: 1rem;
    margin-right: 0.5rem;
}


button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}
